* {
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid rgb(255, 255, 255);
}

#index_page {
    width: 1000px;
    margin: 0,auto;
}

#logo {
    float: left;
    margin: 15px 15px 0 20px; /*박스 마진*/
}

#moto {
    float: left;
        margin: 45px 0 0 0; /*위에만 마진을 줘서 정렬된느낌*/

}

#top_menu {
     float: right;
             margin: 50px 0 0 0; /*위에만 마진을 줘서 하단정렬된느낌*/
            /*list-style-type=none*/            
            }

#top_menu li{
    display: inline; /*세로정렬을 가로로 바꿈*/
}

.line {
    border-top: 1px solid #CCCCCC;
    margin: 25px 0 0 0;
}

#top_nav {
    margin: 25px 0 0 0;
}

#top_nav li {
        display: inline; /*세로정렬을 가로로 바꿈*/

}

.clear {
    clear: both; /*float끝 지정*/

}

li.menu_item {
    margin: 0 0 0 40px;
}

#banner ul li {
    display: inline;
    margin-left: 30px;
}
#banner {
    height: 110px;
    background-color: #00a8ab; /*배경색상 배너와 같은색으로 덮어버림*/
    margin-top: 5px;
}

#customer {
    float: left;
    width: 300px;
    height: 120px;
    /* border: 1px solid red; */
    margin-top: 20px;
    
}

#customer .title {
    float: left;
    margin-left: 10px;
}
#customer .more {
    float: right;
}
#customer .phone {
    margin-left: 10px;
}
#notice {
    float: left;
    width: 300px;
    height: 120px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
#notice .title {
    float: left;
    margin-left: 10px;
}
#notice .more {
    float: right;
}
#notice .subject {
    float: left;
    margin-left: 10px;

}
#notice .date {
    float: right;
    margin-right: 5px;
}
#notice ul {
    margin-top: 10px;
}
#notice ul li {
    margin-top: 5px;
}

#faq {
    float: left;
    width: 300px;
    height: 120px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 30px;

}