/* * {
    margin: 0;
    padding: 0;
} */

/* header {
    border: 1px solid rgb(255, 255, 255);
} */

#index_page {
    width: 1000px;
    margin: 0 auto;
}

#logo {
    float: left;
    margin: 15px 15px 0 20px; /*박스 마진*/
}

#moto {
    float: left;
        margin: 45px 0 0 0; /*위에만 마진을 줘서 정렬된느낌*/

}

#top_menu {
     float: right;
             margin: 50px 0 0 0; /*위에만 마진을 줘서 하단정렬된느낌*/
            /*list-style-type=none*/            
            }

#top_menu li{
    display: inline; /*세로정렬을 가로로 바꿈*/
}

.line {
    border-top: 1px solid #CCCCCC;
    margin: 25px 0 0 0;
}

#top_nav {
    margin: 25px 0 0 0;
}

#top_nav li {
        display: inline; /*세로정렬을 가로로 바꿈*/

}

.clear {
    clear: both; /*float끝 지정*/

}

li.menu_item {
    margin: 0 0 0 40px;
}

#banner ul li {
    display: inline;
    margin-left: 30px;
}
#banner {
    height: 110px;
    background-color: #00a8ab; /*배경색상 배너와 같은색으로 덮어버림*/
    margin-top: 5px;
}

#customer {
    float: left;
    width: 300px;
    height: 120px;
    /* border: 1px solid red; */
    margin-top: 20px;
    
}

#customer .title {
    float: left;
    margin-left: 10px;
}
#customer .more {
    float: right;
}
#customer .phone {
    margin-left: 10px;
}
#notice {
    float: left;
    width: 300px;
    height: 120px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 40px;
}
#notice .title {
    float: left;
    margin-left: 10px;
}
#notice .more {
    float: right;
}
#notice .subject {
    float: left;
    margin-left: 10px;

}
#notice .date {
    float: right;
    margin-right: 5px;
}
#notice ul {
    margin-top: 10px;
}
#notice li {
    margin-top: 5px;
}

#faq {
    float: left;
    width: 300px;
    height: 120px;
    /* border: 1px solid red; */
    margin-top: 20px;
    margin-left: 30px;
}
/*sitemap 섹션*/
#sitemap {
    padding: 20px 0 0 15px;
}
#sitemap div {
    height: 140px;
    float: left;
    /* border: 1px solid red; */
    margin: 0 10px 0 10px;
}

#sitemap li {
    list-style-image: url("../images/blue_dot.gif"); 
    /*css는 경로설정 확인 필요,상위폴더로 갔다가 이미지폴더로 들어가서 ..을 붙여줌*/
    margin: 5px 0 0 20px;
}
#sitemap h3 {
    font-size: 15px;
    color: #059092;
    margin-left: 15px;
}
#sitemap ul {
    color: #666666;
}
/*footer*/
footer {
    border-top: 3px solid #00a8ab ;
    padding: 20px;
}
footer #address {
    float: left;
}
footer #link {
    float: right;
}
footer #footer_menu {
    margin-top: 5px;
}
footer #company_info {
    margin-top: 20px;
}
footer #company_info li {
    margin-top: 2px;
}
footer #copyright {
    margin-top: 10px;
    font-size: 11px;
    color: black;
}
footer #link h3 {
    font-size: 16px;
    color: #00a8ab;
}
footer #link select {
    margin-top: 5px;
    margin-left: 50px;
    width: 100px;
    height: 20px;
    font-size: 11px;

}
footer #icons {
    margin-top: 5px;
    text-align: right; /*이미지들은 문자처럼 정렬 가능*/
}